.btn {
  @extends $heading;
  font-size: $font-size-small;
  font-weight:normal;
  letter-spacing:3px;
  font-family:$subtitle-font-family;
  background:#4b67a5;
  border-radius:5px;
  width:250px;
  margin:0 auto;
  text-align:center;
  text-transform:uppercase;
  padding:10px 0;
}

.facebook-btn {
  background:#a29776;
}