//
// Fonts
// --------------------------------------------------

// Icon font was made using https://icomoon.io
// to recreate: Upload all of the svg files in src/assets/images/ to an icomoon project

@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon3.eot?-1ku8ay2');
    src:url('../fonts/icomoon3.eot?#iefix-1ku8ay2') format('embedded-opentype'),
        url('../fonts/icomoon3.woff?-1ku8ay2') format('woff'),
        url('../fonts/icomoon3.ttf?-1ku8ay2') format('truetype'),
        url('../fonts/icomoon3.svg?-1ku8ay2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// .icon-share:before {
//     content: "\e604";
// }
// .icon-vol_off:before {
//     content: "\e605";
// }
// .icon-vol_on:before {
//     content: "\e606";
// }
// .icon-chat:before {
//     content: "\e601";
// }
// .icon-head:before {
//     content: "\e602";
// }
// .icon-time:before {
//     content: "\e603";
// }
// .icon-image:before {
//     content: "\e600";
// }

.icon-archive:before {
    content: "\e60b";
}
.icon-control-play:before {
    content: "\e60f";
}
.icon-control-pause:before {
    content: "\e60c";
}

.icon-video:before {
    content: "\e60f";
}

.icon-photo:before {
    content: "\e60a";
}
.icon-gallery:before {
    content: "\e60a";
}
.icon-article:before {
    content: "\e609";
}
.icon-calendar:before {
    content: "\e608";
}
.icon-on-this-day:before {
    content: "\e608";
}
.icon-speech:before {
    content: "\e60e";
}
.icon-debate:before {
    content: "\e60e";
}
.icon-close:before {
    content: "\e60d";
}
.icon-facebook:before {
    content: "\e603";
}
.icon-twitter:before {
    content: "\e604";
}
.icon-google:before {
    content: "\e605";
}
.icon-menu:before {
    content: "\e600";
}
.icon-letter:before {
    content: "\e606";
}
.icon-poster:before {
    content: "\e607";
}
.icon-text:before {
    content: "\e611";
}
.icon-document:before {
    content: "\e606";
}

.icon-speaker:before {
    content: "\e613";
}
.icon-speaker-off:before {
    content: "\e614";
}





