<div class="layout-largehead archive">
    <div class='outer-container relative'>
        <div class='container relative'>
          <div class='logo-block'>
              <div class='back-to-video mobile-only'>&lt;</div>
              <img src='/assets/images/mini-logo.png' class='mini-logo' />
              <div class='hide-mobile underline'></div>
          </div>
        </div>
        <div class='main-close close icon-close'></div>
        <div class='archive-items'>
          <div class='container item-holder'></div>
          <div class='pagination container hide-mobile'>
            <div class='col8 col4-offset'>
              <div class='previous chapter-button'><a href='#'>Previous chapter</a></div>
              <div class='next chapter-button'><a href='#'>Next chapter</a></div>
            </div>
          </div>
        </div>

    </div>

    <div class='first-time hide-mobile'><div class='wrapper'>
      <div class='inner-wrap'>
      <div class='overlay'>
        <div class='container'>
          <div class='overlay-close close icon-close'></div>
          <div class='row'>
            <div class='col12 text-centre'>
              <img src='/assets/images/logo.png' alt='Footballers United logo' />
            </div>
            <div class='heading-large shout social-title col12 text-centre'>Welcome to Footballers United</div>
            <div class='row-padded row text-large text-centre'>
              You have arrived at the site part-way through the story.
            </div>
            <div class='row-padded row text-large text-centre'>
              The arrow below shows your current location within the experience. You can move to a different part of the story by clicking on the bar below.
            </div>
            <div class='row-padded-top-only row text-large text-centre'>
              <a class='btn facebook-btn' href='/section/1/play'>Click here to watch from the beginning</a>
            </div>
          </div>
        </div>
      </div>
      <div class='pointer'></div>
      </div>
    </div></div>

    <div class='structure-wrap controls'>

      <nav class='navigation'>
        <div class='rollover'>
         <div class='heading-medium'>PLAY FROM HERE</div>
          <div class='line'></div>
          <div class='icon-control-play'></div>
        </div>
      </nav>
    </div>

</div>