<div class="layout-largehead">
    <header class='header'>
        <img class='masthead' src='/assets/images/home-masthead.jpg' />

        <div class='home-logo'>
            <div class='container'>
                <div class='logo-wrap'>
                    <img class='footballers-logo' src='/assets/images/logo.png' />
                    <div class="chapter-controls mobile-only">
                        <div class="row video-controls">
                            <a href="#section/1/play" class="watch-from-beginning icon-play-large play"><span></span></a>
                        </div>
                    </div>
                </div>

                <div class='row pad-top-mobile'>
                    <div class='col6 col3-offset'>
                        <div class="subheading">How football and friendship got people fighting</div>
                    </div>
                </div>

                <div class="row home-play-button hide-mobile">
                    <div class="col12 text-centre">


                            <div class="chapter-controls">
                                <div class="row video-controls">

                                    <a href="#section/1/play" class="watch-from-beginning icon-control-play play"></a>
                                </div>
                            </div>
                            <div class="subheading">Watch from the beginning</div>


                    </div>
                </div>


            </div>


        </div>




    </header>

    <div class='texture'>
    <div class='container'>
        <div class='row row-padded-top-and-bottom '>
            <div class='col4 pad-bottom-mobile'>
                <p class='emphasis'>This is the interactive story of a battalion that was raised during World War One in Edinburgh.</p>
            </div>
            <div class='col8'>
                <p class='intro-description'>It was a brotherhood of sportsmen, formed by some of the best footballers in Scotland at the time. It is also a story of the women left behind, who worked in munitions factories, formed their own football teams and whose lives changed forever. <a class='watch-from-beginning' href='#section/1/play'>Watch from the beginning.</a></p>
            </div>
        </div>

        <div class='row row-padded-top-with-border text-centre'>
            <div class='col12'>
                <h2 class='subheading'>Find out more about this extraordinary story through archive images, videos and audio</h2>
            </div>
        </div>

        <div class='content-grid'>

             <div class='row'>
                    <div class='col8'>
                        <a href='/section/1/archive/1'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/home/row-1-1.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-photo'></div>
                                    <div class='subheading'>Photo</div>
                                    <div class='heading-medium'>Hearts Players</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/1/archive/16'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/home/row-1-2.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-poster'></div>
                                    <div class='subheading'>Poster</div>
                                    <div class='heading-medium'>Grand International</div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <div class='row'>
                    <div class='col4'>
                        <a href='/section/1/archive/8'>
                            <div class='box'>
                                <img class='background' src='/assets/media/landing-pages/content/home/row-2-1.png'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-article'></div>
                                    <div class='subheading'>Article</div>
                                    <div class='heading-medium'>Should Game be Abandoned?</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/2/archive/5'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/home/row-2-2.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-article'></div>
                                    <div class='subheading'>Article</div>
                                    <div class='heading-medium'>Hearts Join the Army</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/2/archive/1'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/home/row-2-3.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-article'></div>
                                    <div class='subheading'>Article</div>
                                    <div class='heading-medium'>Young Men of Edinburgh</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>


                <div class='row'>
                    <div class='col4'>
                        <a href='/section/2/archive/24'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/home/row-3-1.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-article'></div>
                                    <div class='subheading'>Article</div>
                                    <div class='heading-medium'>Now That Women Are Doing Men's Jobs</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col8'>
                        <a href='/section/3/archive/6'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/home/row-3-2.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-photo'></div>
                                    <div class='subheading'>Photo</div>
                                    <div class='heading-medium'>16th Royal Scots Football Team</div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>


                 <div class='row'>
                    <div class='col4'>
                        <a href='/section/3/archive/4'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-3/row-2-2.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-gallery'></div>
                                    <div class='subheading'>Gallery</div>
                                    <div class='heading-medium'>Trench Warfare</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col8 text-centre hide-mobile'>
                        <img class='rounded' src='/assets/media/landing-pages/content/home/social_media.jpg' />
                            <div class='social-panel-floater'>
                            <div class='subheading'>Social Graph</div>
                            <div class='heading-large shout social-title'>What about your friends?</div>
                            <p class='text-large text-italic social-description'>Find out how many of your friends would have been casualties at the Battle of Somme.</p>
                            <a class='btn facebook-btn facebook-sign-in hidden' href='#'>Sign in with Facebook</a>
                            <a class='btn facebook-btn facebook-connect hidden' href='#'>Connect with Facebook</a>
                            <p class='text-large connected-message row-padded-bottom hidden'>At various points in the story we will show you how your friends would have been affected.</p>
                            <a class='btn facebook-btn facebook-disconnect hidden' href='#'>Disconnect</a>
                        </div>
                    </div>

                </div>

<!--
 <div class='social'>


    </div> -->

            <div class='row'>
                    <div class='col4'>
                        <a href='/section/4/archive/2'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/home/row-4-1.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-gallery'></div>
                                    <div class='subheading'>Gallery</div>
                                    <div class='heading-medium'>The Somme</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/4/archive/8'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/home/row-4-2.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-gallery'></div>
                                    <div class='subheading'>Gallery</div>
                                    <div class='heading-medium'>The Munitionettes</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/3/archive/17'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/home/row-4-3.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-document'></div>
                                    <div class='subheading'>Document</div>
                                    <div class='heading-medium'>Killed In Action</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='row'>
                    <div class='col8'>
                        <a href='/section/4/archive/14'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/home/row-5-1.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-photo'></div>
                                    <div class='subheading'>Photo</div>
                                    <div class='heading-medium'>Mossband Football Team</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/4/archive/18'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/home/row-5-2.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-video'></div>
                                    <div class='subheading'>Video</div>
                                    <div class='heading-medium'>The Women's Game</div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

        </div>
        </div>

        <div class='footer'>
            <div class='container'>
                <a class='footer-link subheading' href='/about'>About Footballers United</a>

                <a class='ww1-link' href='http://www.bbc.co.uk/history/0/ww1/' target='_blank'><img alt='BBC World War One Logo' src='/assets/images/bbc-wwi-logo.png' /></a>
               <!--  <a class='footer-link bbc-link' target=-"_blank" href='http://www.bbc.co.uk/privacy/'>BBC Privacy</a> -->
            </div>
        </div>
    </div>

</div>