
    <nav class="nav hide-mobile">
        <div class="container-nav">

            <div class="row">
                <div class="col12">

                    <nav class="navigation progress1">
                        <ul class="text-small">
                            <li class="item chapter1">
                                <a data-progress="1" href="#">
                                    <span class="subheading">Chapter 1</span>
                                    <span class="item-title">Skirts and Boots</span>
                                </a>
                            </li>
                            <li class="item chapter2">
                                <a data-progress="2" href="#">
                                    <span class="subheading">Chapter 2</span>
                                    <span class="item-title">Football or Fight?</span>
                                </a>
                            </li>
                            <li class="item chapter3">
                                <a data-progress="3" href="#">
                                    <span class="subheading">Chapter 3</span>
                                    <span class="item-title">On the Line</span>
                                </a>
                            </li>
                            <li class="item chapter4">
                                <a data-progress="4" href="#">
                                    <span class="subheading">Chapter 4</span>
                                    <span class="item-title">A Girl’s Team</span>
                                </a>
                            </li>
                            <li class="item chapter5">
                                <a data-progress="5" href="#">
                                    <span class="subheading">Chapter 5</span>
                                    <span class="item-title">The End Game</span>
                                </a>
                            </li>
                            <!-- <li class="item">
                                <a data-progress="6" href="#">
                                    <span class="subheading">Chapter 6</span>
                                    <span class="item-title">The End</span>
                                </a>
                            </li> -->
                        </ul>
                    </nav>

                </div>
            </div>

        </div>
    </nav>