<div class='container'>

            <div class='row row-padded-top-with-no-border text-centre'>
                <div class='col12'>
                    <h2 class='subheading'>Find out more about this extraordinary story through archive images, videos and audio</h2>
                </div>
            </div>

            <div class='content-grid'>

                <div class='row'>
                    <div class='col8'>
                        <a href='/section/4/archive/14'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-4/row-1-1.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-photo'></div>
                                    <div class='subheading'>Photo</div>
                                    <div class='heading-medium'>Mossband Football Team</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/4/archive/11'>
                            <div class='box'>
                                <img class='background' src='/assets/media/landing-pages/content/section-4/row-1-2.png'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-article'></div>
                                    <div class='subheading'>Article</div>
                                    <div class='heading-medium'>Gretna Girls in Trouble</div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <div class='row'>
                    <div class='col4'>
                        <a href='/section/4/archive/23'>
                            <div class='box'>
                                <img class='background' src='/assets/media/landing-pages/content/section-4/row-2-1.png'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-article'></div>
                                    <div class='subheading'>Article</div>
                                    <div class='heading-medium'>Many thanks for the fags</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/4/archive/25'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-4/row-2-2.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-article'></div>
                                    <div class='subheading'>Article</div>
                                    <div class='heading-medium'>Charity Football Match</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/4/archive/18'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-4/row-2-3.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-video'></div>
                                    <div class='subheading'>Video</div>
                                    <div class='heading-medium'>The Women's Game</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class='row'>
                    <div class='col4'>
                        <a href='/section/4/archive/34'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-4/row-3-1.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-photo'></div>
                                    <div class='subheading'>Photo</div>
                                    <div class='heading-medium'>Mothers and Daughters</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col8'>
                        <a href='/section/4/archive/7'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-4/row-3-2.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-video'></div>
                                    <div class='subheading'>Video</div>
                                    <div class='heading-medium'>Women in Munitions</div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            </div>