
<div class="layout-largehead">
    <header class='header section-header'>
        <img class='section-masthead masthead' src='/assets/media/landing-pages/background/section-<%= id %>.jpg' />

        <div class='home-logo'>
            <div class='container'>
                <div class='logo-wrap-section'>
                    <a href='/#'><img class='footballers-logo' src='/assets/images/logo.png' /></a>

                </div>


            </div>

        </div>

        <div class='carousel'>

                    <div data-id='1' class='section section1'>
                        <img class='background' src='/assets/media/landing-pages/foreground/section-1.jpg' />
                        <div class='info'>
                            <div class="home-play-button">
                                <div class="text-centre">
                                        <div class="chapter-controls ">
                                            <div class="row video-controls">
                                                <a href="#" class="icon-control-play play"></a>
                                            </div>
                                        </div>
                                        <div class="subheading">Chapter 1</div>
                                        <h1 class="chapter-title heading-large hide-mobile">Skirts and Boots</h1>
                                </div>
                            </div>
                        </div>
                        <div class='tint'></div>

                    </div>
                    <div data-id='2' class='section section2'>
                        <img class='background' src='/assets/media/landing-pages/foreground/section-2.jpg' />
                        <div class='info'>
                            <div class="home-play-button">
                                <div class="text-centre">
                                        <div class="chapter-controls ">
                                            <div class="row video-controls">
                                               <a href="#" class="icon-control-play play"></a>
                                            </div>
                                        </div>
                                        <div class="subheading">Chapter 2</div>
                                        <h1 class="chapter-title heading-large hide-mobile">Football or Fight?</h1>
                                </div>
                            </div>
                        </div>
                        <div class='tint'></div>

                    </div>

                    <div data-id='3' class='section section3'>
                        <img class='background' src='/assets/media/landing-pages/foreground/section-3.jpg' />
                        <div class='info'>
                            <div class="home-play-button">
                                <div class="text-centre">
                                        <div class="chapter-controls ">
                                            <div class="row video-controls">
                                                <a href="#" class="icon-control-play play"></a>
                                            </div>
                                        </div>
                                        <div class="subheading">Chapter 3</div>
                                        <h1 class="chapter-title heading-large hide-mobile">On the Line</h1>
                                </div>
                            </div>
                        </div>
                        <div class='tint'></div>

                    </div>


                    <div data-id='4' class='section section4'>
                        <img class='background' src='/assets/media/landing-pages/foreground/section-4.jpg' />
                        <div class='info'>
                            <div class="home-play-button">
                                <div class="text-centre">
                                        <div class="chapter-controls ">
                                            <div class="row video-controls">
                                                <a href="#" class="icon-control-play play"></a>
                                            </div>
                                        </div>
                                        <div class="subheading">Chapter 4</div>
                                        <h1 class="chapter-title heading-large hide-mobile">A Girl's Team</h1>
                                </div>
                            </div>
                        </div>
                        <div class='tint'></div>

                    </div>

                    <div data-id='5' class='section section5'>
                        <img class='background' src='/assets/media/landing-pages/foreground/section-5.jpg' />
                        <div class='info'>
                            <div class="home-play-button">
                                <div class="text-centre">
                                        <div class="chapter-controls ">
                                            <div class="row video-controls">
                                                <a href="#" class="icon-control-play play"></a>
                                            </div>
                                        </div>
                                        <div class="subheading">Chapter 5</div>
                                        <h1 class="chapter-title heading-large hide-mobile">The End Game</h1>
                                </div>
                            </div>
                        </div>
                        <div class='tint'></div>

                    </div>







                </div>






    </header>
<div class='container mobile-only mobile-title-box text-centre'><div class='heading-medium'></div></div>



    <div class='texture'>
            <div class='section-holder'>

            </div>
            <div class='footer'>
                <div class='container'>
                    <a class='footer-link subheading' href='/about'>About Footballers United</a>
                    <a href='http://www.bbc.co.uk/history/0/ww1/' target='_blank'><img alt='BBC World War 1 Logo' src='/assets/images/bbc-wwi-logo.png' /></a>
                </div>
            </div>

        </div>
</div>
