<div class='container'>

            <div class='row row-padded-top-with-no-border text-centre'>
                <div class='col12'>
                    <h2 class='subheading'>Find out more about this extraordinary story through archive images, videos and audio</h2>
                </div>
            </div>

            <div class='content-grid'>

                <div class='row'>
                    <div class='col8'>
                        <a href='/section/1/archive/1'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-1/row-1-1.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-photo'></div>
                                    <div class='subheading'>Photo</div>
                                    <div class='heading-medium'>Hearts Players</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/1/archive/8'>
                            <div class='box'>
                                <img class='background' src='/assets/media/landing-pages/content/section-1/row-1-2.png'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-article'></div>
                                    <div class='subheading'>Article</div>
                                    <div class='heading-medium'>Should Game be Abandoned?</div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <div class='row'>
                    <div class='col4'>
                        <a href='/section/1/archive/17'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-1/row-2-1.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-poster'></div>
                                    <div class='subheading'>Poster</div>
                                    <div class='heading-medium'>Play The Greater Game</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/1/archive/21'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-1/row-2-2.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-photo'></div>
                                    <div class='subheading'>Photo</div>
                                    <div class='heading-medium'>Why Don't You Enlist?</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/1/archive/22'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-1/row-2-3.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-article'></div>
                                    <div class='subheading'>Article</div>
                                    <div class='heading-medium'>Is This the Time for Football?</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>