<div class='container'>

            <div class='row row-padded-top-with-no-border text-centre'>
                <div class='col12'>
                    <h2 class='subheading'>Find out more about this extraordinary story through archive images, videos and audio</h2>
                </div>
            </div>

            <div class='content-grid'>

                <div class='row'>
                    <div class='col8'>
                        <a href='/section/5/archive/23'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-5/row-1-1.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-document'></div>
                                    <div class='subheading'>Document</div>
                                    <div class='heading-medium'>Alfie Briggs' Demobilization</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/5/archive/2'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-5/row-1-2.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-photo'></div>
                                    <div class='subheading'>Photo</div>
                                    <div class='heading-medium'>Wounded Men</div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>

                <div class='row'>
                    <div class='col4'>
                        <a href='/section/5/archive/6'>
                            <div class='box'>
                                <img class='background rounded' src='/assets/media/landing-pages/content/section-5/row-2-1.jpg'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-photo'></div>
                                    <div class='subheading'>Photo</div>
                                    <div class='heading-medium'>Think of me now</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/5/archive/7'>
                            <div class='box'>
                                <img class='background' src='/assets/media/landing-pages/content/section-5/row-2-2.png'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-article'></div>
                                    <div class='subheading'>Article</div>
                                    <div class='heading-medium'>Ladies' Football Banned</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class='col4'>
                        <a href='/section/5/archive/17'>
                            <div class='box'>
                                <img class='background' src='/assets/media/landing-pages/content/section-5/row-2-3.png'/>
                                <div class='foreground'>
                                    <div class='type-icon icon-article'></div>
                                    <div class='subheading'>Article</div>
                                    <div class='heading-medium'>Women After the War</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            </div>