<div class="layout-video">
    <video id="main-player" width="100%" height="100%">
        <source type="application/x-mpegURL" src="http://player.vimeo.com/external/112518312.m3u8?p=high,standard,mobile&s=315487ae75a55dbbcddfc3c2112ad76f" />
        <source type="video/mp4" src="http://player.vimeo.com/external/112518312.mobile.mp4?s=187f852624e3695436848ace7c9735e1" />
    </video>
</div>
<div class='buffering-video'>
  <div class='image-wrapper'>
    <img src='/assets/images/loading.gif' class='loading-image' />
  </div>
</div>
<div class='logo-block'>
    <a href='/'><img src='/assets/images/video-logo.png' class='mini-logo' /></a>
    <ul>
      <li class='item-title section-1'><a href='#section/1'><span>Chapter 1</span><em>Skirts and Boots</em></a></li>
      <li class='item-title section-2'><a href='#section/2'><span>Chapter 2</span><em>Football or Fight?</em></a></li>
      <li class='item-title section-3'><a href='#section/3'><span>Chapter 3</span><em>On the Line</em></a></li>
      <li class='item-title section-4'><a href='#section/4'><span>Chapter 4</span><em>A Girl’s Team</em></a></li>
      <li class='item-title section-5'><a href='#section/5'><span>Chapter 5</span><em>The End Game</em></a></li>
      <li class='item-title section-6'><a href='#about'><span></span><em>About<br/>Footballers United</em></a></li>
    </ul>
</div>
<div class='toggle-notifications hide-mobile'>

</div>
<div class='quiet-time hide-mobile  buffer-dependent'>

</div>
<div class='toggle-close hide-mobile  buffer-dependent'>
  <div class='close icon-close'></div>
</div>
<div class='toggle-close-message hide-mobile  buffer-dependent'>
  <div class="subheading subheading-padded"></div>
</div>

<div class='mobile-only'>
  <div class='heading-medium  video-section-nav pink-background mobile-pad text-centre'><span class='previous'>&lt;</span><em>Section title!</em><span class='next'>&gt;</span></div>
  <div class='archive-holder'><ul></ul></div>
</div>
<div class='toggle-controls hide-mobile'>
  <div class='icon icon-speaker hidden'></div>
  <div class='icon icon-speaker-off'></div>
  <div class='icon icon-facebook'></div>
  <div class='icon icon-twitter'></div>
</div>
<div class='controls-wrap'>
  <div class='controls'>
    <div id="notifications"></div>
    <div class='toggle-open-message hide-mobile buffer-dependent'>
      <img src='/assets/images/gemma.jpg' />
      <div class="subheading"></div>
    </div>
    <div class='bottom-bar'>
      <div class='timeline'>
        <div class='timeline-box'>
          <div class='background'>
            <div class='fakeprogress'><span></span></div>
          </div>
          <div class='midground'>
            <span class='date begin-date'>1914</span>
            <span class='date end-date'>1918</span>
          </div>
          <div class='foreground'>
            <ul class='dots'>
            </ul>
          </div>
        </div>
      </div>
      <div class='control-btn play-pause'><span class="icon-control-play"></span><span class="icon-control-pause"></span></div>
      <nav class='navigation'></nav>
      <div class='control-btn show-archive'><span class="icon-archive"></span></div>
    </div>
  </div>
</div>
